<!doctype html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeLeaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
		integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
		integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
		crossorigin="anonymous"></script>
	<title>Shop - Admin</title>
</head>
<style>
</style>

<body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous"></script>
	<div class="container">
		<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
			<a th:href="@{/}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
				<img th:src="@{/images/bootstrap-brands.svg}" src="../static/images/bootstrap-brands.svg" alt=""
					width="auto" height="32" </a>
				<span class="fs-4">Swadeshi Store</span>
			</a>

			<ul class="nav nav-pills">
								<li class="nav-item"><a class="nav-link" th:href="@{/admin}" href="#" aria-current="page">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/shop}" href="#" aria-current="page">Shop</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/admin/categories}" href="#" aria-current="page">Categories</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/admin/products}" href="#" aria-current="page">Products</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/logout}" href="#">Login</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/logout}" href="#">Register</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/logout}" href="#">Logout</a></li>
			</ul>
		</header>
	</div>

	<div class="container">
		<div class="row">
			<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<div class="position-sticky pt-3 sidebar-sticky">
				<h3>Categories</h3>
					<ul class="list-group">
						<a th:href="@{/shop}">
							<li class="list-group-item">All Products</li>
						</a>
						<a href="" th:each="categories : ${category}"
							th:href="@{/shop/category/{id}(id=${categories.id})}">
							<li class="list-group-item" th:text="${categories.name}"></li>
						</a>
					</ul>
				</div>
			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div class="card" style="..." th:each="product : ${products}">
					<div class="row no-gutters">
						<div class="col"> 
						<img id="frame" height="150px" width="150px" src="#" class="img-fluid" th:src="@{${'/product_images/'+ product.imageName}}">
					</div>
						<div class="col-sm-5 d-flex justify-content-center">
							<div class="card-body">
								<h5 class="card-title" th:text="${product.name}"></h5>
								<h4>₹ <span th:text="${product.price}"></span></h4>
								<p th:text="${product.description}"></p>
								<a href="#" th:href="@{/shop/viewproduct/{id}(id=${product.id})}" class="btn btn-primary">View Product</a>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</body>

</html>