<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<title>Employee Registration Form</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		.note {
			text-align: center;
			height: 80px;
			background: -webkit-linear-gradient(left, #0072ff, #8811c5);
			color: #fff;
			font-weight: bold;
			line-height: 80px;
		}

		.form-content {
			padding: 5%;
			border: 1px solid #ced4da;
			margin-bottom: 2%;
		}

		.form-control {
			border-radius: 1.5rem;
		}

		.btnSubmit {
			border: none;
			border-radius: 1.5rem;
			padding: 1%;
			width: 20%;
			cursor: pointer;
			background: #0062cc;
			color: #fff;
		}
	</style>
</head>

<body>
	<div class="container register-form">
		<div class="form">
			<!--success message-->
			<div th:if="${param.success}">
				<div class="alert alert-info">You have successfully registered</div>
			</div>
			<div class="note">
				<p>Create New Employee</p>
			</div>
			<div class="form-content">
				<form th:action="@{/saveEmployee}" method="post" th:object="${employee}">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="First Name" value=""
									th:field="*{firstName}" required autofocus="autofocus" />
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Last Name" value=""
									th:field="*{lastName}" required autofocus="autofocus" />
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email" value="" th:field="*{email}"
									required autofocus="autofocus" />
							</div>
							<div class="text-center pt-4">
								<button type="submit" class="btn btn-primary">Register</button>
							</div>
						</div>
					</div>
				</form>
				<a th:href="@{/}"> Back to Employee List
			</div>
		</div>
	</div>
</body>

</html>